<html>
    <head>
<title>Search</title>
    </head>
    <body>
            <%- include('menu'); -%>
            
            <div class="row">
                
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <form method="post" action="/searchAction">
                            <label>Search</label>
                            <input type="search" name="search" id="input" size="20" class="form-control" value="" required="required" title="">
                                
                        
                            </br><button type="submit" class="btn btn-primary">Search</button>
                        </form>
                </div>
                
            </div>
            
        
    </body>
</html>